.wrapper {
  background: #000000;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-image: url("bg_t1.png");
  background-attachment: fixed;
}

.wrapper-spacer {
  width: 100%;
  padding-top: 170px;
}


